<!-- The comments switcher -->
{% if page.comments and site.comments.provider %}
  {% capture path %}comments/{{ site.comments.provider }}.html{% endcapture %}
  {% include {{ path }} %}
  <script src="https://giscus.app/client.js"
    data-repo="CPC-GALLOS/CPC-GALLOS.github.io"
    data-repo-id="R_kgDOMP4eWg"
    data-category="Blog"
    data-category-id="DIC_kwDOMP4eWs4ChCzC"
    data-mapping="title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="es"
    crossorigin="anonymous"
    async>
  </script>
  <div class="giscus-frame" style="margin-top: 24px">
    <div class="giscus"></div>
  </div>
  <script>
    function updateGiscusTheme() {
      const dataMode = document.documentElement.getAttribute("data-mode");
      const theme = dataMode
        ? (dataMode === "dark" ? "dark_dimmed" : "light")
        : (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark_dimmed" : "light");
      
      // Actualizar el tema del script de Giscus
      const giscusScript = document.querySelector('script[src="https://giscus.app/client.js"]');
      if (giscusScript) {
        giscusScript.setAttribute("data-theme", theme);
      }
      
      // Enviar mensaje al iframe de Giscus para actualizar el tema
      const giscusIframe = document.querySelector("iframe.giscus-frame");
      if (giscusIframe) {
        giscusIframe.contentWindow.postMessage(
          { giscus: { setConfig: { theme: theme } } },
          "https://giscus.app"
        );
      }
    }

    function attemptUpdateGiscus() {
      const interval = setInterval(() => {
        const giscusScript = document.querySelector('script[src="https://giscus.app/client.js"]');
        const giscusIframe = document.querySelector("iframe.giscus-frame");

        if (giscusScript && giscusIframe) {
          clearInterval(interval);
          updateGiscusTheme();
        }
      }, 100);
      
      // Evitar bucle infinito
      setTimeout(() => clearInterval(interval), 5000);
    }

    // Asegurarse de que la página esté completamente cargada
    document.addEventListener("DOMContentLoaded", function() {
      updateGiscusTheme();
      attemptUpdateGiscus();

      // Observa cambios en el atributo data-mode
      const modeObserver = new MutationObserver(mutations => {
        mutations.forEach(mutation => {
          if (mutation.attributeName === "data-mode") {
            updateGiscusTheme();
          }
        });
      });
      modeObserver.observe(document.documentElement, { attributes: true });
    });
  </script>
{% endif %}